$wrapper-width-num: 1366;
$wrapper-width: #{$wrapper-width-num}px;

$mobile-width-num: 375;
$mobile-width: #{$mobile-width-num}px;

$font-size-num: 16;
$font-size: #{$font-size-num}px;

$nav-height-num: 100;
$nav-height: #{$nav-height-num}px;
$nav-height-num-sp: 60;
$nav-height-sp: #{$nav-height-num-sp}px;
